{% extends "base.html" %}
{% block content %}
<h1>Report:</h1>
<pre>
    address: {{ url }}{% if error %}: {{ error }}{% else %}
    title: {{ title }}
    meta:
        {% for tag in meta %}{{ tag }}
        {% endfor %}
    size: {{ page_size|filesizeformat }}
    words: {{ words_count }}
    unique words: {{ unique_words_count }}
    most common words: {{ most_common_words|join:', ' }}
    not used meta keywords: {{ not_used_meta|join:', ' }}
    A-tags:
        {% for tag in atags %}"{{ tag.content|default:'no link text' }}": {{ tag.href|default:'no href' }}
        {% endfor %}
    {% endif %}
</pre>
{% endblock %}
